<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.li.kong.mapper.CategoryMapper">
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="Role">
    </insert>

    <select id="findAll" resultType="Category" >
        select id,name FROM t_category
    </select>
    <select id="find" resultType="Category" parameterType="String">
        SELECT id , name FROM t_category WHERE name=#{name}
    </select>
</mapper>
