<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.li.kong.mapper.NoteMapper">
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="Note">
      INSERT INTO t_note (id,title,content,up_vote,down_vote,category_id) VALUES (#{id},#{title},#{content},#{upVote},#{downVote},#{category.id})
    </insert>
    <select id="findAll" resultType="Note" parameterType="int">
        select id,title , content ,up_vote AS upVote, down_vote AS downVote,category_id AS categoryId FROM t_note WHERE category_id=#{categoryId}
    </select>

    <select id="find" resultType="Note" parameterType="String">
        select id,title , content ,up_vote AS upVote, down_vote AS downVote,category_id AS categoryId FROM t_note WHERE id=#{id}
    </select>

    <update id="update" parameterType="Note">
        UPDATE t_note
        <set>
            <if test="title != null and title != ''">
                title = #{title} ,
            </if>
            <if test="content != null and content != ''">
                content = #{content} ,
            </if>
            <if test="upVote != null and upVote != ''">
                up_vote = #{upVote} ,
            </if>
            <if test="downVote != null and downVote != ''">
                down_vote = #{downVote} ,
            </if>
            <if test="categoryId != null and categoryId != ''">
                category_id = #{categoryId} ,
            </if>
            <trim suffixOverrides="," />
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM t_note WHERE id = #{id}
    </delete>
</mapper>
