<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.li.kong.mapper.PhotosMapper">
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="Photos">
         INSERT INTO t_images (id,title,image_url,note_id) VALUES (#{id},#{title},#{imageUrl},#{note.id})
    </insert>
    <select id="find" resultType="Photos" parameterType="String">
        SELECT id , title,image_url AS imageUrl FROM t_images WHERE note_id=#{id}
    </select>
</mapper>
