<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.li.kong.mapper.RoleMapper">
    <select id="find" resultType="Role" parameterType="String">
        SELECT id , name FROM t_role WHERE name=#{name}
    </select>
    <select id="findId" resultType="Role" parameterType="int">
        SELECT id , name FROM t_role WHERE id=#{id}
    </select>
</mapper>
